*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    color: #333;
}

.site-header {
    background-color: #776969;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2rem;
}